feedback-summary-report.json
{
  "name": "feedback_summary",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 2
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "95ebbafc-101d-47d3-9a41-4e1923398ad5",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appu0FBWq5YCQVbay",
          "mode": "list",
          "cachedResultName": "Event Hub",
          "cachedResultUrl": "https://airtable.com/appu0FBWq5YCQVbay"
        },
        "table": {
          "__rl": true,
          "value": "tblDXgVrdogzGuEbV",
          "mode": "list",
          "cachedResultName": "Feedback",
          "cachedResultUrl": "https://airtable.com/appu0FBWq5YCQVbay/tblDXgVrdogzGuEbV"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.2,
      "position": [
        224,
        0
      ],
      "id": "f9b2d084-8d63-467e-927e-5c24ddee24af",
      "name": "Search records",
      "credentials": {
        "airtableTokenApi": {
          "id": "NCcEamii7G9oJ3bn",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst groups = {};\n\nfor (const item of items) {\n  const event = item.json.fields['Event Name'] \n    ? item.json.fields['Event Name'][0] \n    : 'Unknown Event';\n  if (!groups[event]) groups[event] = [];\n  groups[event].push(item.json.fields);\n}\n\nconst result = [];\nfor (const [event, feedbacks] of Object.entries(groups)) {\n  if (feedbacks.length >= 3) {\n    result.push({\n      json: {\n        eventName: event,\n        feedbackCount: feedbacks.length,\n        feedbacks: feedbacks\n      }\n    });\n  }\n}\n\nreturn result;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        0
      ],
      "id": "21bf4fff-2477-4e85-b73d-3e069a456a5b",
      "name": "Group by Event"
    },
    {
      "parameters": {
        "jsCode": "const eventName = $json.eventName;\nconst feedbacks = $json.feedbacks;\n\nlet feedbackText = '';\nfeedbacks.forEach((fb, i) => {\n  feedbackText += `Response ${i + 1}:\\n`;\n  feedbackText += `Rating: ${fb['Rating'] || 'N/A'}/5\\n`;\n  feedbackText += `Enjoyed: ${fb['Enjoyed'] || '-'}\\n`;\n  feedbackText += `Improve: ${fb['Improve'] || '-'}\\n`;\n  feedbackText += `Attend again: ${fb['Return'] || '-'}\\n\\n`;\n});\n\nconst prompt = `You are an event feedback analyst. Analyse the following attendee feedback for the event \"${eventName}\" and generate a structured summary report.\n\nUse EXACTLY these four headings in your response:\n\nKey Highlights:\nCommon Praise:\nAreas for Improvement:\nOverall Sentiment:\n\nFeedback data:\n${feedbackText}`;\n\nreturn [{ json: { ...$json, prompt } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        0
      ],
      "id": "8925f7a2-6049-4e4e-8ca5-64e5dad256fa",
      "name": "Gemini prompt"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "={{ $json.prompt }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.2,
      "position": [
        896,
        0
      ],
      "id": "a6f3169e-ed15-4d6b-a8b2-9700b74a7cf4",
      "name": "Message a model",
      "credentials": {
        "googlePalmApi": {
          "id": "gq3aiYIY0ORwalel",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "adetolaemmanuel21@gmail.com",
        "subject": "=Feedback Report — {{ $('Group by Event').item.json.eventName }}",
        "message": "=<p>Hi,</p>\n\n<p>Here is the automated feedback summary for:</p>\n\n<p><strong>Event:</strong> {{ $('Group by Event').item.json.eventName }}<br>\n<strong>Responses analysed:</strong> {{ $('Group by Event').item.json.feedbackCount }}</p>\n\n<hr>\n\n<p>{{ $('Message a model').item.json.content.parts[0].text\n  .replace(/\\*\\*(.*?)\\*\\*/g, '<strong>$1</strong>')\n  .replace(/\\n\\n/g, '</p><p>')\n  .replace(/\\n/g, '<br>')\n}}</p>\n\n<hr>\n<p>EventHub Automation</p>",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1248,
        0
      ],
      "id": "bacc4277-ef35-4147-8ea6-19fabdbaaa25",
      "name": "Send a message",
      "webhookId": "725e6a48-be2f-47fa-9fef-52bfdcd3fcf1",
      "credentials": {
        "gmailOAuth2": {
          "id": "5edT8l6yqnnq90Nx",
          "name": "Gmail OAuth2 API"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Search records",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search records": {
      "main": [
        [
          {
            "node": "Group by Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Group by Event": {
      "main": [
        [
          {
            "node": "Gemini prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini prompt": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "7a3dcdb4-09e5-40bd-bf7b-e59d7c1d5cbf",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "051adf4b84ccb9a65d2627aaf4fd37d1c7be60e73394f961820e75783c5a492d"
  },
  "id": "BtAp4YznnHPkaxnV",
  "tags": []
}
